<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1> Contact Us! </h1>
<p> Contact the collest cats on the web </p>
<p> You contacted <%= data.who %> in the <%= data.department %> department.  </p>
<p> We will reply to you at <%= data.email %> </p>
</body>
</html>
